Libraries

In [5]:
# Setup the libraries
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
from collections import Counter
from wordcloud import WordCloud, STOPWORDS
from copy import deepcopy

Aldi imported data

In [3]:
aldi = pd.read_csv('aldi_20221123.csv')

In [4]:
aldi.head()

,Product,Category,Brand,Price,Size,Price per Unit
0,100 Calorie Greek Yogurt (Tropical ),dairy,Friendly Farms,$0.63,5.3 oz,$0.12/oz
1,100 Calorie Greek Yogurt (Blueberry ),dairy,Friendly Farms,$0.63,5.3 oz,$0.12/oz
2,100 Calorie Greek Yogurt (Blackberry),dairy,Friendly Farms,$0.63,5.3 oz,$0.12/oz
3,100 Calorie Greek Yogurt (Strawberry),dairy,Friendly Farms,$0.63,5.3 oz,$0.12/oz
4,Aged Cheddar (Four Year),dairy,Emporium Selection,$3.69,7 oz,$0.53/oz

In [5]:
aldi = aldi.dropna(thresh=2)

In [6]:
aldi.columns = ['Item name', 'Category', 'Brand', 'Price', 'Unit', 'Unit Price']

In [7]:
aldi['Price'] =  aldi['Price'].str.extract('(\d+(?:\.\d+)?)').astype(float).round(2)

In [8]:
aldi['Unit'] =  '$/' + aldi['Unit'].str.split().str[-1]

In [9]:
aldi['Unit Price'] =  aldi['Unit Price'].str.extract('(\d+(?:\.\d+)?)').astype(float).round(2)

In [10]:
aldi = aldi.drop('Brand', axis=1)

In [11]:
aldi['Category'] = aldi['Category'].str.lower()

In [12]:
aldi.count()

Item name     696
Category      696
Price         696
Unit          696
Unit Price    696
dtype: int64

In [13]:
aldi_store = ['Aldi'] * 696
aldi_scrape_date = [date.today()] * 696
aldi['Store'] = aldi_store
aldi['Date'] = aldi_scrape_date

In [14]:
aldi.head()

,Item name,Category,Price,Unit,Unit Price,Store,Date
0,100 Calorie Greek Yogurt (Tropical ),dairy,0.63,$/oz,0.12,Aldi,2022-11-23
1,100 Calorie Greek Yogurt (Blueberry ),dairy,0.63,$/oz,0.12,Aldi,2022-11-23
2,100 Calorie Greek Yogurt (Blackberry),dairy,0.63,$/oz,0.12,Aldi,2022-11-23
3,100 Calorie Greek Yogurt (Strawberry),dairy,0.63,$/oz,0.12,Aldi,2022-11-23
4,Aged Cheddar (Four Year),dairy,3.69,$/oz,0.53,Aldi,2022-11-23

In [15]:
aldi.to_csv('aldi_clean_20221123.csv')

Trader Joe's imported data

In [16]:
tj = pd.read_csv('traderjoe_20221123.csv')

In [17]:
tj.head()

,Product,Category,Brand,Price,Size,Price per Unit
0,Almond Beverage (Original or Vanilla),dairy,Trader Joe’s,$2.69,64 fl oz,$0.04/fl oz
1,"Butter (Organic, Salted or Unsalted) [Organic]",dairy,Trader Joe’s,$5.99,16 oz,$0.37/oz
2,Butter (Quarters - Unsalted or Salted),dairy,Trader Joe’s,$3.69,16 oz,$0.23/oz
3,Butter (Salted or Unsalted (Pure Irish Butter)),dairy,KerryGold,$3.99,8 oz,$0.50/oz
4,Buttermilk,dairy,Trader Joe's,$1.69,32 fl oz,$0.05/fl oz

In [18]:
tj = tj.dropna(thresh=2)

In [19]:
tj.columns = ['Item name','Category', 'Brand', 'Price', 'Unit', 'Unit Price']

In [20]:
tj['Price'] =  tj['Price'].str.extract('(\d+(?:\.\d+)?)').astype(float).round(2)

In [21]:
tj['Unit'] =  '$/' + tj['Unit'].str.split().str[-1]

In [22]:
tj['Unit Price'] =  tj['Unit Price'].str.extract('(\d+(?:\.\d+)?)').astype(float).round(2)

In [23]:
tj = tj.drop('Brand', axis=1)

In [24]:
tj['Category'] = tj['Category'].str.lower()

In [25]:
tj.count()

Item name     311
Category      311
Price         310
Unit          310
Unit Price    310
dtype: int64

In [26]:
tj_store = ['Trader Joe\'s'] * 311
tj_scrape_date = [date.today()] * 311
tj['Store'] = tj_store
tj['Date'] = tj_scrape_date

In [27]:
tj.head()

,Item name,Category,Price,Unit,Unit Price,Store,Date
0,Almond Beverage (Original or Vanilla),dairy,2.69,$/oz,0.04,Trader Joe's,2022-11-23
1,"Butter (Organic, Salted or Unsalted) [Organic]",dairy,5.99,$/oz,0.37,Trader Joe's,2022-11-23
2,Butter (Quarters - Unsalted or Salted),dairy,3.69,$/oz,0.23,Trader Joe's,2022-11-23
3,Butter (Salted or Unsalted (Pure Irish Butter)),dairy,3.99,$/oz,0.50,Trader Joe's,2022-11-23
4,Buttermilk,dairy,1.69,$/oz,0.05,Trader Joe's,2022-11-23

In [28]:
tj.to_csv('traderjoe_clean_20221123.csv')

Fairway market scraped data

In [29]:
fwm = pd.read_csv('fairway_market_20221123.csv')

In [30]:
fwm.head()

,Product Number,Item name,Category,Unit Price,Unit,Price,Sale Price,Serving Size,Serving Size Unit,Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Total Carbohydrate (g),Dietary Fiber (g),Total Sugars (g),Added Sugars (g),Protein (g)
0,820581173043,"2s Company Cranberry & Pumpkin Seed, Specialty...",produce,1.32,$/oz,6.99,NaN,NaN,NaN,90.0,3.0,1.0,0.0,0.0,150.0,12.0,2.0,5.0,3.0,3.0
1,860000403849,"Ashapops Water Lili Seeds Chili Lime,1.0 OUNCE",produce,5.99,$/oz,5.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,215250000001,"Fairway 19th Hole Mix,16.0 OUNCE",produce,0.56,$/oz,8.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,215372000002,"Fairway Almonds Organic Raw,16.0 OUNCE",produce,1.09,$/oz,17.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,215353000007,"Fairway Almonds Whole Blanched,16.0 OUNCE",produce,0.72,$/oz,11.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
fwm['Price'] =  fwm['Price'].str.extract('(\d+(?:\.\d+)?)').astype(float).round(2)

In [32]:
fwm.count()

Product Number            2963
Item name                 2963
Category                  2963
Unit Price                2743
Unit                      2819
Price                     2946
Sale Price                   0
Serving Size               447
Serving Size Unit          447
Calories                  1726
Total Fat (g)             1724
Saturated Fat (g)         1675
Trans Fat (g)             1568
Cholesterol (mg)          1663
Sodium (mg)               1723
Total Carbohydrate (g)    1723
Dietary Fiber (g)         1472
Total Sugars (g)          1622
Added Sugars (g)          1277
Protein (g)               1724
dtype: int64

In [33]:
fwm_store = ['Fairway Market'] * 2963
fwm_scrape_date = [date.today()] * 2963
fwm['Store'] = fwm_store
fwm['Date'] = fwm_scrape_date

In [34]:
fwm.to_csv('fairway_market_clean_20221123.csv')

Footdown market scraped data

In [35]:
ft_diary1 = pd.read_csv('footdown_market_dairy_1_20221123.csv')

In [36]:
ft_diary2 = pd.read_csv('footdown_market_dairy_2_20221123.csv')

In [37]:
ft_ms = pd.read_csv('footdown_market_meat_seafood_20221123.csv')

In [39]:
ft_produce = pd.read_csv('footdown_market_produce_20221123.csv')

In [40]:
ft = pd.concat([ft_diary1,ft_diary2,ft_ms,ft_produce], axis=0)

In [41]:
ft.head(20)

,Product Number,Item name,Category,Unit Price,Unit,Price,Sale Price,Serving Size,Serving Size Unit,Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Total Carbohydrate (g),Dietary Fiber (g),Total Sugars (g),Added Sugars (g),Protein (g)
0,96125,"Tuscan Vitamin D Whole Milk, Gallon,128 FOZ",dairy,4.89,$/foz,4.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,96127,"Tuscan Whole Milk, Half Gallon,64 FOZ",dairy,2.49,$/foz,2.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,96137,"Tuscan Whole Milk, Quart,32 FOZ",dairy,1.39,$/foz,1.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,96138,"Tuscan 2% Milk, Quart,32 FOZ",dairy,1.39,$/foz,1.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,96132,"Tuscan 2% Milk, Half Gallon,64 FOZ",dairy,2.49,$/foz,2.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7002435,"Green Way Free Range Large Brown Eggs, Dozen,...",dairy,4.49,$/ct,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,54279,"Egglands Best Large Eggs,18 CT",dairy,7.19,$/ct,7.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,14033,"Foodtown Large White Eggs,12 CT",dairy,6.29,$/ct,6.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,96126,"Tuscan 1% Milk, Half Gallon,64 FOZ",dairy,2.49,$/foz,2.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,30393,"Best Yet Grade A Medium White Eggs,12 CT",dairy,5.49,$/ct,5.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,57580,"Nellie's Nest Large Brown Free Range Eggs, Doz...",dairy,6.79,$/ct,6.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,14035,"Foodtown Large White Eggs, 18 CT,18 CT",dairy,8.99,$/ct,8.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5602475,"Green Way Organic Large Brown Eggs, Dozen,12 CT",dairy,5.69,$/ct,5.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1564405684703225391,"Tropicana Pure Premium Orange Juice, No Pulp,5...",dairy,4.69,$/foz,4.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,30417,"Best Yet Grade A Large Brown Eggs,12 CT",dairy,6.49,$/ct,6.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2485871,"Hillandale White Jumbo Eggs,12 CT",dairy,6.59,$/ct,6.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2504534,"Green Way Free Range Omega 3 Large Brown Eggs,...",dairy,4.39,$/ct,4.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8372,"Tropicana Juice, Tropical Punch,59 FOZ",dairy,2.59,$/foz,2.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,96139,"Tuscan 1% Milk, Quart,32 FOZ",dairy,1.39,$/foz,1.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,58902,"Land O'Lakes Large Brown Eggs,12 CT",dairy,4.29,$/ct,4.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
ft.count()

Product Number            2459
Item name                 2459
Category                  2459
Unit Price                2459
Unit                      2407
Price                     2459
Sale Price                   0
Serving Size                 0
Serving Size Unit            0
Calories                     0
Total Fat (g)                0
Saturated Fat (g)            0
Trans Fat (g)                0
Cholesterol (mg)             0
Sodium (mg)                  0
Total Carbohydrate (g)       0
Dietary Fiber (g)            0
Total Sugars (g)             0
Added Sugars (g)             0
Protein (g)                  0
dtype: int64

In [43]:
ft_store = ['Footdown Market'] * 2459
ft_scrape_date = [date.today()] * 2459
ft['Store'] = ft_store
ft['Date'] = ft_scrape_date

In [44]:
ft.head()

,Product Number,Item name,Category,Unit Price,Unit,Price,Sale Price,Serving Size,Serving Size Unit,Calories,...,Trans Fat (g),Cholesterol (mg),Sodium (mg),Total Carbohydrate (g),Dietary Fiber (g),Total Sugars (g),Added Sugars (g),Protein (g),Store,Date
0,96125,"Tuscan Vitamin D Whole Milk, Gallon,128 FOZ",dairy,4.89,$/foz,4.89,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Footdown Market,2022-11-23
1,96127,"Tuscan Whole Milk, Half Gallon,64 FOZ",dairy,2.49,$/foz,2.49,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Footdown Market,2022-11-23
2,96137,"Tuscan Whole Milk, Quart,32 FOZ",dairy,1.39,$/foz,1.39,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Footdown Market,2022-11-23
3,96138,"Tuscan 2% Milk, Quart,32 FOZ",dairy,1.39,$/foz,1.39,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Footdown Market,2022-11-23
4,96132,"Tuscan 2% Milk, Half Gallon,64 FOZ",dairy,2.49,$/foz,2.49,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Footdown Market,2022-11-23

In [45]:
ft.to_csv('footdown_market_clean_20221123.csv')

Wholefoods market scraped data

In [46]:
wfm = pd.read_csv('wholefoods_market_20221123.csv')

In [47]:
wfm.count()

Product Number            2165
Item name                 2165
Category                  2165
Unit Price                1968
Unit                      1968
Price                     2161
Sale Price                   0
Serving Size              2123
Serving Size Unit         2123
Calories                  1913
Total Fat (g)             1911
Saturated Fat (g)         1890
Trans Fat (g)             1821
Cholesterol (mg)          1861
Sodium (mg)               1912
Total Carbohydrate (g)    1913
Dietary Fiber (g)         1848
Total Sugars (g)          1846
Added Sugars (g)          1231
Protein (g)               1913
dtype: int64

In [48]:
wfm_store = ['Wholefoods Market'] * 2165
wfm_scrape_date = [date.today()] * 2165
wfm['Store'] = wfm_store
wfm['Date'] = wfm_scrape_date

In [49]:
wfm.head()

,Product Number,Item name,Category,Unit Price,Unit,Price,Sale Price,Serving Size,Serving Size Unit,Calories,...,Trans Fat (g),Cholesterol (mg),Sodium (mg),Total Carbohydrate (g),Dietary Fiber (g),Total Sugars (g),Added Sugars (g),Protein (g),Store,Date
0,93283,"Organic Honeycrisp Apple,1 LB",produce,3.99,$/lb,3.99,NaN,1.0,lb,94.64,...,0.0,0.0,1.820,25.130,4.370,18.910,NaN,0.470,Wholefoods Market,2022-11-23
1,94225,"Organic Large Hass Avocados,1 AVOCADO (MEDIUM)",produce,5.00,$/avocado (medium),5.00,NaN,1.0,avocado (medium),80.00,...,0.0,0.0,3.500,4.300,3.400,0.330,NaN,1.000,Wholefoods Market,2022-11-23
2,4225,"Large Hass Avocados,1 AVOCADO",produce,4.00,$/avocado,4.00,NaN,1.0,avocado,80.00,...,0.0,0.0,3.500,4.265,3.350,0.330,NaN,1.000,Wholefoods Market,2022-11-23
3,4045,Red Cherries,produce,NaN,NaN,7.99,NaN,NaN,NaN,87.00,...,0.0,0.0,0.000,22.000,2.900,17.692,NaN,1.463,Wholefoods Market,2022-11-23
4,94060,"Organic Broccoli,1 POUND",produce,2.99,$/pound,2.99,NaN,1.0,pound,15.47,...,0.0,0.0,15.015,3.021,1.183,0.773,NaN,1.283,Wholefoods Market,2022-11-23

In [50]:
wfm.to_csv('wholefoods_market_clean_20221123.csv')

Merge all data into one file

In [51]:
all_data = pd.concat([aldi,tj,fwm,ft,wfm], axis=0)

In [52]:
all_data.head()

,Item name,Category,Price,Unit,Unit Price,Store,Date,Product Number,Sale Price,Serving Size,...,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Total Carbohydrate (g),Dietary Fiber (g),Total Sugars (g),Added Sugars (g),Protein (g)
0,100 Calorie Greek Yogurt (Tropical ),dairy,0.63,$/oz,0.12,Aldi,2022-11-23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100 Calorie Greek Yogurt (Blueberry ),dairy,0.63,$/oz,0.12,Aldi,2022-11-23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100 Calorie Greek Yogurt (Blackberry),dairy,0.63,$/oz,0.12,Aldi,2022-11-23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100 Calorie Greek Yogurt (Strawberry),dairy,0.63,$/oz,0.12,Aldi,2022-11-23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aged Cheddar (Four Year),dairy,3.69,$/oz,0.53,Aldi,2022-11-23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
all_data.count()

Item name                 8594
Category                  8594
Price                     8572
Unit                      8200
Unit Price                8176
Store                     8594
Date                      8594
Product Number            7587
Sale Price                   0
Serving Size              2570
Serving Size Unit         2570
Calories                  3639
Total Fat (g)             3635
Saturated Fat (g)         3565
Trans Fat (g)             3389
Cholesterol (mg)          3524
Sodium (mg)               3635
Total Carbohydrate (g)    3636
Dietary Fiber (g)         3320
Total Sugars (g)          3468
Added Sugars (g)          2508
Protein (g)               3637
dtype: int64

In [54]:
all_data.to_csv('Merged_data_20221123.csv')

In [8]:
all_data = all_data.dropna(subset=['Price'])

In [9]:
all_data['Price'] = [x.split('for ')[-1] for x in all_data['Price']]
#finding non numerical price row
all_data['Price'] = pd.to_numeric(all_data['Price'],errors='coerce')
all_data['Date'] =  pd.to_datetime(all_data['Date'], infer_datetime_format=True)
all_data['Category'] = all_data['Category'].str.replace('dairy-eggs','dairy')
all_data['Category'] = all_data['Category'].astype('str')

In [10]:
all_data['Kosher'] = [0] * 8572
all_data['Pescatarian'] = [1] * 8572
all_data['No red meat'] = [1] * 8572
all_data['Dairy-free'] = [1] * 8572
all_data['Gluten-free'] = [1] * 8572

In [11]:
# Apply Kosher rules
for i in range(0, 8572):
  if all_data['Category'].iloc[i] == 'dairy':
    all_data['Kosher'].iloc[i] = 1
  else:
    if all_data['Category'].iloc[i] == 'produce':
      all_data['Kosher'].iloc[i] = 1
    else:
      if all_data['Category'].iloc[i] == 'seafood':
        if 'fish' in all_data['Item name'].iloc[i].lower():
          all_data['Kosher'].iloc[i] = 1
      else:
        if 'lamb' in all_data['Item name'].iloc[i].lower():
          all_data['Kosher'].iloc[i] = 1
        elif 'beef' in all_data['Item name'].iloc[i].lower():
          all_data['Kosher'].iloc[i] = 1

C:\Users\shirl\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [12]:
# apply pescatarian rules
for i in range(0, 8572):
  if all_data['Category'].iloc[i] == 'meat':
    all_data['Pescatarian'].iloc[i] = 0

In [13]:
# apply no red meat rules
for i in range(0, 8572):
  if all_data['Category'].iloc[i] == 'meat':
    if 'lamb' in all_data['Item name'].iloc[i].lower():
      all_data['No red meat'].iloc[i] = 0
    else:
      if 'beef' in all_data['Item name'].iloc[i].lower():
        all_data['No red meat'].iloc[i] = 0
      else:
        if 'pork' in all_data['Item name'].iloc[i].lower():
          all_data['No red meat'].iloc[i] = 0
        else:
          if 'bacon' in all_data['Item name'].iloc[i].lower():
            all_data['No red meat'].iloc[i] = 0
          else:
            if 'ham' in all_data['Item name'].iloc[i].lower():
              all_data['No red meat'].iloc[i] = 0
            else:
              if 'pepperoni' in all_data['Item name'].iloc[i].lower():
                all_data['No red meat'].iloc[i] = 0

In [14]:
# apply dairy free rule
for i in range(0, 8572):
  if all_data['Category'].iloc[i] == 'dairy':
    if 'dairy free' in all_data['Item name'].iloc[i].lower():
          all_data['Dairy-free'].iloc[i] = 1
    else:
      if 'dairy-free' in all_data['Item name'].iloc[i].lower():
        all_data['Dairy-free'].iloc[i] = 1
      else:
          if 'oat' in all_data['Item name'].iloc[i].lower():
            all_data['Dairy-free'].iloc[i] = 1
          else:
            if 'soy' in all_data['Item name'].iloc[i].lower():
              all_data['Dairy-free'].iloc[i] = 1
            else:
              if 'almond' in all_data['Item name'].iloc[i].lower():
                all_data['Dairy-free'].iloc[i] = 1
              else:
                all_data['Dairy-free'].iloc[i] = 0

In [15]:
# apply gluten free rule
for i in range(0, 8572):
  if all_data['Category'].iloc[i] == 'dairy':
    if 'granola' in all_data['Item name'].iloc[i].lower():
          all_data['Gluten-free'].iloc[i] = 0

In [16]:
all_data.to_csv('Merged_clean_data_20221123.csv')